---
---
:root {
  --base: 18px;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
  height: 100%;
}

a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: var(--base);
    display: flex;
    flex-direction: column;
}

header, .intro {
    margin-bottom: calc(var(--base) * 2);
}

p {
   margin-bottom: var(--base);
}

img {
    max-width: 100%;
}

img + em { 
    font-family: Courier, monospace;
    font-style: normal;
}

main {
    padding: var(--base);
    margin-top: -3px;
    margin-bottom: calc(var(--base) * 2);
    flex: 1 0 auto;
    max-width: calc(var(--base) * 23);
}

.dot {
    display: block;
    background-color: black;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: calc(var(--base) * 2);
}

a.dot:hover {
    background-color: rgb(255,255,0);
}

.post {
    padding-left: calc(var(--base) + 9px);
    padding-bottom: var(--base);
}

.post a:link, .post  a:visited {
    background-color: rgba(255,255,0,.1);
    word-wrap: break-word;
}

.post a:hover {
    background-color: rgba(255,255,0,.4);
}

.pagination {
    color: rgba(0,0,0,.30);
    padding-right: var(--base);
    padding-bottom: var(--base);
    padding-left: var(--base);
    flex-shrink: 0;
    max-width: calc(var(--base) * 23);
}

.label {
    margin-right: 3px;
}

.num {
    margin-right: 6px;
}