<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<body>
    <main>
        {% if page.url == "/" %}
            <header>
                {{site.header }} {{ site.description }}
            </header>
        {% endif %}
        
        {{ content }}
    </main>
    
    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            
            <span class="label">page:</span>

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <span class="num">{{ page }}</span>
                {% elsif page == 1 %}
                    <a class="num" href="{{ '/' | relative_url }}">{{ page }}</a>
                {% else %}
                    <a class="num" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
        
        </div>
    {% endif %}
</body>

</html>